.fluid-ai-container {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 400px;
}

.fluid-section {
  display: flex;
  align-items: center;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
  margin-bottom: 100px;
  text-align: left;
  margin-top: 100px;
}

.fluid-section.in-view {
  opacity: 1;
  transform: translateY(0);
}

.image-container {
  max-width: 300px;
  margin: 0 0;
  left: 50%;
  transition: opacity 1s ease, transform 1s ease; }

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.text-left,
.text-right {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
  transition-delay: 0.5s;
}

.fluid-section.in-view .text-left, 
.fluid-section.in-view .text-right {
  opacity: 1;
  transform: translateY(0);
}

.text-left {
  flex: 1;
  text-align: left;
  margin-left: -550px;
  width: 500px;
}

.text-right {
  flex: 1;
  text-align: left;
  margin-left: 400px;
  width: 400px;
}


.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.title-main {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.description {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 500px;
}

.absolute {
  position: absolute;
}

/* Media query for small and extra-small devices */
@media (max-width: 767px) {
  .fluid-ai-container{
    margin-top: 200px;

  }
  .fluid-section {
    flex-direction: column-reverse; /* Text appears below image */
    margin-bottom: 50px;
    text-align: center;
  }

  .text-left,
  .text-right {
    position: static; /* Remove absolute positioning */
    margin: 0;
    width: 100%;
    text-align: center; /* Center text on small screens */
  }

  .image-container {
    max-width: 100%;
    margin-bottom: 20px; /* Add some space between the image and text */
  }

  .title {
    font-size: 2rem;
  }

  .title-main {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }
}