.navbar {
  background: rgba(255, 0, 0, 0) !important;
  height: 4rem;
  color: white !important;
  width: 96vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-weight: 600;

}

#basic-navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  font-weight: 600;
}

.nav-left,
.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-white {
  color: white !important;
}

@media (max-width: 767px) {
  .nav-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-left,
  .nav-right {
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
    display: none;
  }

  .navbar {
    height: auto;
  }
}


.custom-toggler {
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.custom-toggler .line1,
.custom-toggler .line2,
.custom-toggler .line3 {
  background-color: white;
  height: 3px;
  width: 100%;
  transition: 0.4s;
}

.custom-toggler .line2{
  width: 80%;
}
.custom-toggler.active .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.custom-toggler.active .line2 {
  opacity: 0;
}

.custom-toggler.active .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-center .nav-link {
  margin: 10px 0;
  color: white;
  display: none;

}