.footer-container {
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  padding: 40px 80px; /* Adjust padding as needed */
  font-family: "Arial", sans-serif; /* Choose your preferred font */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align items to the top */
  max-width: 1200px; /* Optional: Limit container width */
  margin: 0 auto; /* Center content */
}

.logo-section {
  display: flex;
  flex-direction: column;

}

.footer-logo {
  height: 30px; /* Adjust logo height as needed */
  margin-right: 10px;
  margin-bottom: 20px;
}

.copyright {
  font-size: 0.8rem; /* Adjust font size */
  color: #999; 
  font-weight: 600;
}

.links-section {
  display: flex;
}

.links-list,
.legal-links {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 40px; /* Space between link lists */
}

.links-list li,
.legal-links li {
  margin-bottom: 10px;
}

.links-list a,
.legal-links a {
  text-decoration: none;
  color: #fff;
}

.links-list a:hover,
.legal-links a:hover {
  text-decoration: underline; /* Add underline on hover */
}

a {
  color: rgba(255, 255, 255, 0.671) !important;
}


@media (max-width: 768px) {
  .footer-content {
    flex-direction: column; /* Stack items vertically */
  }

.links-section{
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-between;
}

.links-list{
  margin: 0;

}
.footer-container{
  padding: 40px 40px;
}
}